coverage/
node_modules/
.idea/
.vscode/

src/code-challenges/
src/data-structures/benchmarker/
src/data-structures/binary-tree/
src/data-structures/graph/
src/data-structures/hashtable/
src/data-structures/linked-list/
src/data-structures/queue/
src/data-structures/stack/

lib/code-challenges/
lib/data-structures/benchmarker/
lib/data-structures/binary-tree/
lib/data-structures/graph/
lib/data-structures/hashtable/
lib/data-structures/linked-list/
lib/data-structures/queue/
lib/data-structures/stack/
